.my_game_settings {
    width: 100%;
    height: 100%;
    /* background-image: url("/static/image/settings/background.png"); */
    background-image: url("https://video.acwing.com/image/default/8E6F28A1B40749AB9EC0B800D76A8EF4-6-2.png?auth_key=1650381234-2ab19f74ba-0-e1b008988fdf170fa7fa2e24a60ad012");
    background-size: 100% 100%;
    /* 填满 */
    user-select: none;
    /* 不被选中*/
}

.my_game_settings_login {
    width: 20vw;
    height: 41vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.my_game_settings_title {
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.my_game_settings_username {
    display: block;
    height: 7vh;
}

.my_game_settings_password {
    display: block;
    height: 7vh;
}

.my_game_settings_submit {
    display: block;
    height: 7vh;
}

.my_game_settings_item {
    width: 100%;
    height: 100%;
}

.my_game_settings_item>input {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_game_settings_item>button {
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

.my_game_settings_error_messages {
    color: red;
    font-size: 0.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.my_game_settings_option {
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.my_game_settings_others_login_acwing {
    display: block;
    height: 7vh;
}

.my_game_settings_others_login_acwing>img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.my_game_settings_others_login_acwing>div {
    display: block;
    color: white;
    font-size: 1.5vh;
    text-align: center;
}

.my_game_settings_register {
    width: 20vw;
    height: 49vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

/* .my_game_settings_acapp {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/timetable.jpg");
    background-size: 100% 100%;
    user-select: none;
} */

.my_game_menu {
    width: 100%;
    height: 100%;
    /* background-image: url("/static/image/menu/background.png"); */
    background-image: url("https://video.acwing.com/image/default/09A53A4594AC4E2096C87366D02255C4-6-2.png?auth_key=1650381507-ccbc9015ba-0-63010c5aa1ac32dc853646a02702c769");
    background-size: 100% 100%;
    /* 填满 */
    user-select: none;
    /* 不被选中*/
}

.my_game_menu_field {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 60%;
}

.my_game_menu_field_item {
    color: white;
    height: 6vh;
    width: 18vw;
    font-size: 4vh;
    /* 字体大小*/
    font-style: italic;
    /* 字体风格*/
    text-align: center;
    /* 居中*/
    background-color: rgba(39, 21, 28, 0.6);
    /* 背景颜色rgb 透明度 */
    border-radius: 10px;
    /* 边角圆弧 */
    letter-spacing: 0.5vw;
    /* 字间距 */
    cursor: pointer;
    /* 光标 */
}

.my_game_menu_field_item:hover {
    /* 鼠标放上去的效果设置 */
    transform: scale(1.2);
    /* 鼠标放上去放大1.2倍 */
    transition: 100ms;
    /* 放大延时 */
}

.my_game_playground {
    width: 100%;
    height: 100%;
    user-select: none;
    /* 不被选中*/
}